<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CONSUMER PRICE INDEX Bootstrap Template - Home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Lato:400,300,700,900" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/free-one-page-bootstrap-template-/
  * AuthorName: CONSUMER PRICE INDEX
  * Updated: : BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo me-auto">
        <h1><a href="index.html">CONSUMER PRICE INDEX</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About consumer price index</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">Predict</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact Us</a></li>
          
          </li>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End #header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <h1>WELCOME TO CONSUMER PRICE INDEX PREDICTION </h1>
      <h2>Click for more info of Consumer Price Index</h2>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- #hero -->

  <main id="main">

    <!-- ======= About consumer price index Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About consumer price index</h2>
        </div>

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2">
            <img src="static/assets/img/about-img.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1">
            <h3>What is Consumer Price Index?</h3>
            <p class="fst-italic">
              Consumer Price Indices (CPI) measure changes over time in general level of prices of goods and services that households acquire for the purpose of consumption. CPI numbers are widely used as a macroeconomic indicator of inflation, as a tool by governments and central banks for inflation targeting and for monitoring price stability, and as deflators in the national accounts. CPI is also used for indexing dearness allowance to employees for increase in prices. CPI is therefore considered as one of the most important economic indicators. For construction of CPI numbers, two requisite components are weighting diagrams (consumption patterns) and price data collected at regular intervals. The data refers to group wise all India Consumer Price Index for Rural & Urban with base year 2010.
            
    </section><!-- End About consumer price index Section -->

     <!-- ======= Portfolio Section ======= -->
     <section id="portfolio">
 <!-- <left> -->
      <div class="container" data-aos="fade-up">
      <p style="font-size:40px;">Enter consumer consumption prices for each item below</p>
     
              <form action = '/submit', method = 'post'>
                
               <center><label for="Milk and products"><b>Milk and products</b></label></center> 
               <br>
                <center><input type="number" style="width: 300px;" id="Milk and products" min = 100 max = 400 name="Milk and products" placeholder="Enter here"></center>
             <br>
             <center> <label for="Prepared meals, snacks, sweets etc."><b>Prepared meals, snacks, sweets etc.<b></label></center>  
              <br>
            <center><input type="number" style="width: 300px;" id="Prepared meals, snacks, sweets etc." min = 100 max = 400 name="Prepared meals, snacks, sweets etc." placeholder="Enter here"></center>  
               <br>
                
            <center> <label for="Health"><b>Health<b></label></center>  
              <br>
            <center><input type="number" style="width: 300px;" id="Health" min = 100 max = 400 name="Health" placeholder="Enter here">  </center>
               <br>
              <center><label for="Personal care and effects"><b>Personal care and effects<b></label></center>
                <br>
          <center> <input type="number" style="width: 300px;" id="Personal care and effects" min = 100 max = 400 name="Personal care and effects" placeholder="Enter here">  </center> 
                <br>
              <center><label for="Miscallaneous"><b>Miscellaneous<b></label></center>
                <br>
          <center> <input type="number" style="width: 300px;" id="Miscellaneous" min = 100 max = 400 name="Miscellaneous" placeholder="Enter here">  </center>
                <br>
              <center><label for="Meat_Egg"><b>Meat_Egg<b></label></center>
                <br>
          <center> <input type="number" style="width: 300px;" id="Meat_Egg" min = 100 max = 400 name="Meat_Egg" placeholder="Enter here">  </center>
                 <br>
                <center><label for="Food_Beverages"><b>Food_Beverages<b></label></center>
                  <br>
          <center>  <input type="number" style="width: 300px;" id="Food_Beverages" min = 100 max = 400 name="Food_Beverages" placeholder="Enter here">  </center>
                  <p class="space"></p> 
                  
          <center>     <input type ='submit' value = 'Submit'>    
  
              </form>
                
           


      
    </section><!-- End Portfolio Section -->


    <!-- ======= Contact Us Section ======= -->
     <section id="contact" class="contact section-bg">
  <div class="container">

    <div class="section-title" style="text-align: left;">
      <h2>Contact Us</h2>
          <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
             <i class="bi bi-geo-alt"></i>
               <h4>Location:</h4>
                 The Smartbridge,SmartInternz
                 6th floor, Sundarayya Vignana Kendram
                 Technical Block, Madhava Reddy Colony, Gachibowli, Hyderabad 
                 Telangana 500032
                 </div>
                 
                  </div> 
                     <i class="bi bi-envelope"></i>
                    <p>thesmartbridge.com</p>
              </div>

              <div>
                <i class="bi bi-phone"></i>
                <p>+91 6300432044</p>
              </div>

    </section><!-- End Contact Us Section -->

   
  </main><!-- End #main -->

  

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>